
:root {
    --my-padding: 0.4rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    color:aliceblue;
    display: grid;
    font-family: 'Luckiest Guy', cursive;
    font-size: xx-large;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 2fr 0.7fr 1fr 0.6fr;
    grid-template-areas:
    "header menu menu menu"
    "hero hero hero hero"
    "main main image image "
    "main main extra extra"
    "banner banner banner banner"
    ;

    height: 100vh;
    text-align: center;
    text-transform: lowercase;
}

.header{
    align-items: center;
    display: grid;
    background-color: rgb(54, 48, 9);
    grid-area: header;
    padding: var(--my-padding);
}

.menu{
    align-items: center;
    display: grid;
    background-color: rgb(189, 73, 27);
    grid-area: menu;
    padding: var(--my-padding);
}

.hero{
    align-items: center;
    display: grid;
    background-color: rgb(48, 180, 174);
    grid-area: hero;
    padding: var(--my-padding);
}
.main{
    align-items: center;
    display: grid;
    background-color: rgb(84, 101, 138);
    grid-area: main;
    padding: var(--my-padding);
}
.extra{
    align-items: center;
    display: grid;
    background-color: rgb(107, 64, 96);
    grid-area: extra;
    padding: var(--my-padding);
}
.image{
    align-items: center;
    display: grid;
    background-color: rgb(109, 156, 187);
    grid-area: image;
    padding: var(--my-padding);
}
.banner{
    align-items: center;
    display: grid;
    background-color: rgb(15, 90, 100);
    grid-area: banner;
    padding: var(--my-padding);
}

@media (max-width: 1024px) {

    .container {
        grid-template-columns: 0.7fr 1fr 0.7fr;
        grid-template-rows: 0.4fr 1.2fr 1.7fr 0.7fr 0.6fr;
        grid-template-areas:
        "header header header"
        "hero hero hero"
        "menu main main"
        "menu banner banner"
        "menu extra image"
    ;
    }
}


@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.5fr 1.4fr 1.7fr 0.9fr 0.9fr 0.9fr;
        grid-template-areas:
        "header"
        "menu"
        "hero"
        "main"
        "banner"
        "extra"
        "image"
    ;
    }

}